.header {
	background-color: #fff;
	border-bottom: 1px solid #e8e8e8;

	.content {
		max-width: 1216px;
		margin: 0px auto;
		padding: 16px 0px;

		.link {
			width: fit-content;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;

			.logo {
				width: 45px;
				height: 45px;
			}
			.textLogo {
				width: 139px;
			}
		}
	}
}
