.button {
	padding: 10px 12px;
	background-color: white;
	border: 1px solid #bababa;
	border-radius: 12px;
	cursor: pointer;

	&:hover {
		outline: 1px solid var(--color-purple-700);
	}
}

.button.isActive {
	outline: 1px solid var(--color-purple-700);
}
