.details {
	display: flex;
	gap: 40px;

	> li {
		display: flex;
		align-items: center;
		gap: 12px;
		text-align: center;
		padding: 6px 10px;
		border-radius: 8px;
		background-color: var(--color-black-10);

		> span {
			padding: 2px 4px;
			border-radius: 4px;
			background-color: var(--color-purple-700);
			color: white;
		}
	}
}
